apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: mariadb-operator
      version: "0.27.0"
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
        namespace: db
  values:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    webhook:
      enabled: true
      cert:
        certManager:
          enabled: true
      serviceMonitor:
        enabled: true
