apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cert-manager-helmrepo.yaml
  - cert-manager-helmrelease.yaml
  - ingress-nginx-helmrelease.yaml
  - ingress-nginx-helmrepo.yaml
  - ingress-nginx-secgroup-oidc-cm.yaml
  - storageclass.yaml
  - ../kube-system-extra/kustomization-kube-system-extra.yaml
  - vpa-helmrepo.yaml
  - vpa-helmrelease.yaml
